<div id="<%= dom_id post %>">

<table class="table">
<tr>
<th>title</th>
<th>content</th>
<th>author</th>
<tr>

<tr>
<td><%= post.tile %></td>
<td><%= post.content %></td>
<td><%= post.author %></td>
<tr>

</table>

</div>
